* {
  font-family: "Zen Kaku Gothic New", sans-serif !important;
}

.zen-kaku-gothic-new-regular {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  margin: 0 !important;
  line-height: 1.3;
}

.md{
  display: block;
}
.navigation {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-header {
  display: flex;
  justify-content: end;
}

.sm-Shadow {
  box-shadow: 0px 2px 5px -1px rgba(95, 95, 95, 0.15);
  -webkit-box-shadow: 0px 2px 5px -1px rgba(95, 95, 95, 0.15);
  -moz-box-shadow: 0px 2px 5px -1px rgba(95, 95, 95, 0.15);
}

.linear {
  background: rgb(22, 141, 199);
  background: linear-gradient(
    90deg,
    rgba(22, 141, 199, 1) 0%,
    rgba(71, 188, 211, 1) 100%
  );
}

.boxShadow {
  box-shadow: 0px 15px 70px 5px rgba(95, 95, 95, 0.1);
  -webkit-box-shadow: 0px 15px 70px 5px rgba(95, 95, 95, 0.1);
  -moz-box-shadow: 0px 15px 70px 5px rgba(95, 95, 95, 0.1);
}

.form-control {
  padding: 0.575rem 0.75rem !important;
}

.form-wisata-wrap {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 566px;
  border-radius: 30px;
  overflow: hidden;
  max-width: 950px;
}

.form-wisata {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  z-index: 2;
  background-color: #168dc7;
  width: 55%;
  height: 100%;
  padding: 40px 0px 40px 40px;
}

.form-col {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0 40px 0 0;
}

.form-image {
  z-index: 1;
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
}

.linearToLeft {
  left: 55%;
  width: 50%;
  height: 100%;
  position: absolute;
  background: rgb(22, 141, 199);
  background: linear-gradient(
    90deg,
    rgba(22, 141, 199, 1) 0%,
    rgba(11, 69, 97, 0) 100%
  );
  z-index: 99;
}

.navigate-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer {
  background-color: #168dc7;
  width: 100%;
  height: 359px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: start;
  align-items: center;
}

.social {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  width: 100%;
  max-width: 980px;

  margin-left: auto;
  margin-right: auto;
  padding: 2.5rem 10rem;
}

.text-col {
  font-size: 30px;
  color: white;
  font-weight: 900;
}

.wa-chat {
  position: fixed;
  right: 135px;
  top: 85%;
  z-index: 99999;
}

.img-res {
  overflow: hidden;
}

.text-res {
  color: #168dc7;
  font-size: 30px;
  font-weight: 900;
}

.text-headline {
  font-size: 30px;
  font-weight: 900;
  color: #40a93d;
}

.col-on-md{
    display: flex;
}

.md-hidden{
  display: block;
}

@media (max-width: 1024px) {
  .form-wisata {
    width: 60%;
    padding: 20px 20px 20px 20px;
  }
  .wa-chat {
    right: 5px;
  }
  .linearToLeft {
    left: 59%;
  }
  .form-col {
    padding: 0px 0px 0px 0px;
  }
  .text-col {
    font-size: 24px;
  }
  .navigation {
    padding: 0px 10px;
  }
  .md-hidden{
    display: hidden !important;
  }
}

@media (max-width: 768px) {
  .form-wisata {
    width: 100%;
    z-index: 999;
    background-color: #168cc700;
  }
  .linearToLeft {
    left: 0%;
    width: 100%;
    inset: 0;
  }
  .img-res {
    overflow: scroll;
  }
  .text-res {
    font-size: 24px;
  }
  .text-headline{
    font-size: 24px;
  }
  .form-wisata-wrap {
    height: auto;
  }
  .col-on-md{
    flex-direction: column;
}
.form-image {
  width: 100%;
}
}

@media (max-width: 435px) {
  .footer {
    height: auto;
  }
}

@media (max-width: 1024px) {
  .social {
    padding: 2.5rem 6rem;
  }
}
@media (max-width: 640px) {
  .social {
    padding: 2.5rem 2rem;
  }
}
@media (max-width: 435px) {
  .social {
    flex-direction: column;
    gap: 18px;
  }
}

@media (max-width: 1024px) {
  .navigate-link {
    display: none !important;
  }
  .btn-header {
    display: none !important;
  }
}

#navigation-mobile {
  height: 200px;
  width: 100%;
  display: none;
  position: fixed;
  top: 80px;
  left: 0;
  background-color: white;
}

.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
  align-items: center;
}

@media (min-width: 1024px) {
  .burger {
    visibility: hidden;
    display: none;
  }
}
.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}
